.positions{
    overflow: hidden;
}
.positions .copy-container{
    width: 30%;
}
.positions-container{
    column-gap: 2em;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 2em;
    border-radius: var(--border-radius);
}
.position{
    padding: .5em;
    min-width: 14.8em;
    width: 14.8em;
    max-width: 14.8em;
    transition: all .3s ease-in-out ;
}

.position:hover{
  transform: scale(1.1);
  margin: 0 1em;
  box-shadow: 10px 10px 34px 9px rgba(184,184,184,0.57);
  -webkit-box-shadow: 10px 10px 34px 9px rgba(184,184,184,0.57);
  -moz-box-shadow: 10px 10px 34px 9px rgba(184,184,184,0.57);
}
.position img{
    max-width: 14.8em;
    border-radius: 5px;
    margin-bottom: .5em;
    object-fit: cover;
    max-height: 10em;
}
.position h3{

    margin-bottom: .5em;
}
.position span{
    display: inline-block;
    margin-bottom: 1.5em;
}

.position .arrow-icon{
    width:35px;
}
@media screen and (max-width:720px) {
    .positions .copy-container{
        width: 100%;
    }
}